.card {
  transition: transform 300ms;
  &:hover {
    transform: scale(1.02);
  }

  .link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: var(--card-elements-gap);
  }

  .flag {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  .name {
    padding-inline: var(--card-padding);
    font-size: 1.8rem;
    font-weight: 800;
  }

  .detailsGroup {
    padding-inline: var(--card-padding);
  }
}
