@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --ff-main: 'Nunito Sans';

  --border-radius: 5px;

  --box-shadow-color: 0, 0, 0;
  --box-shadow-primary: 0 0 1rem rgba(var(--box-shadow-color), 0.5);

  --page-elements-gap: 3rem;
  --page-padding: 3rem;

  --card-elements-gap: 2rem;
  --card-padding: 2rem;
}

:root [data-theme='dark'] {
  --color-background: 207 26% 17%;
  --color-text: 0 0% 100%;
  --color-accent: 209 23% 22%;
}

:root [data-theme='light'] {
  --color-background: 0 0% 98%;
  --color-text: 200 15% 8%;
  --color-accent: 0 0% 100%;
  --color-input: 0 0% 52%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-main), sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
}

body {
  background-color: unquote('hsl(var(--color-background))');
  color: unquote('hsl(var(--color-text))');
  min-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

#root {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: var(--page-elements-gap);
  min-height: 100vh;
  padding-bottom: 3rem;
}
